@model ddac.Models.BeautynSpa

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BeautynSpa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BeautyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BeautyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BeautyPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BeautyPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BQty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BQty)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Bid" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
