@model ddac.Models.BeautynSpa

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>BeautynSpa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BeautyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BeautyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BeautyPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BeautyPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BQty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BQty)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Bid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
