@model IEnumerable<ddac.Models.BeautynSpa>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BeautyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeautyPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BQty)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BeautyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeautyPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BQty)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Bid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Bid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Bid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
