@model IEnumerable<ddac.Models.Restaurant>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RestName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RestPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RDateCheckInDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RDateCheckOutDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RQty)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RestName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RDateCheckInDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RDateCheckOutDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RQty)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Rid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Rid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Rid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
